<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';
import {type Ref, inject} from 'vue'

const receiptStore = useReceiptStore()
</script>


<template>
    <v-dialog
      v-model="receiptStore.receiptDialog"
      width="auto"
    >
      <v-card>
        <v-card-text>
          {{ receiptStore.receipt }}
        </v-card-text>
        <v-card-actions>
        
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>